*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nerko One', cursive;
    background-color: rgb(124, 207, 207);
}

.container {
    width: 1170px;
    margin: 30px auto;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 100px;
    text-shadow: 2px 2px #000;
}

.box {
    width: 180px;
    height: 220px;
    display: inline-block;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    position: relative;
    left: 15%;
    box-shadow: 5px 10px 18px #000;
}